<% if flash.has?(:notice) %>
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:notice] %></p>
</div>
<% end %>

<div class="jumbotron text-center animated bounceInUp" style="margin-top: 5%; padding: 15% 0;">
  <h1>WELCOME TO xsURL</h1>
  <p class="animated fadeInDown">Make long links xtra small!</p>
  <div class="form-group" style="margin-top: 50px; font-size: 1.25;">
    <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/login">Log In</a>
  </div>
</div>
