<div class="jumbotron text-center">
  <h1>Welcome to xsURL</h1>
  <p>Shrink your links to a size xs!</p>
  <p><a class="btn btn-primary btn-lg" href="/signup">Sign Up</a></p>
  <p>OR</p>
  <p><a class="btn btn-primary btn-lg" href="/login">Log In</a></p>
</div>
